@import 'responsive.mixin.scss';

.search-block {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid;

  .search-control {
    font-size: 1rem;
    border: 0;
    font-weight: bold;
    outline: none;
    padding-left: 10px;
    width: 300px;

    @include screen('phone') {
      width: 100px;
    }
  }

  .hidden {
    visibility: hidden;
  }
}
