<div class="padded">
  <table mat-table [dataSource]="datasource" class="mat-elevation-z8" multiTemplateDataRows>

    <ng-container matColumnDef="select">
      <th scope="col" mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th scope="col" mat-header-cell *matHeaderCellDef> Author's firstname</th>
      <td mat-cell *matCellDef="let author"> {{author.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th scope="col" mat-header-cell *matHeaderCellDef> Author's lastname</th>
      <td mat-cell *matCellDef="let author"> {{author.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let author" [attr.colspan]="2">
        <div class="example-element-detail" [@detailExpand]="author == expandedAuthor ? 'expanded' : 'collapsed'">
          <app-list-books [authorId]="author.id"></app-list-books>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['select', 'firstname', 'lastname']"></tr>
    <tr mat-row *matRowDef="let author; columns: ['select', 'firstname', 'lastname'];"
        class="example-element-row"
        [class.example-expanded-row]="expandedAuthor === author"
        (click)="expandedAuthor = expandedAuthor === author ? null : author">
    </tr>
    <tr mat-row *matRowDef="let author; columns: ['expandedDetail'];" class="example-detail-row"></tr>
  </table>
</div>

<div>
  <button mat-raised-button (click)="openAddAuthorDialog()">
    Add author
  </button>

  <button mat-raised-button (click)="deleteSelected()">
    Delete selected
  </button>
</div>
