<div class="padded">
  <table [dataSource]="datasource" class="mat-elevation-z8" mat-table multiTemplateDataRows>

    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell scope="col">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th *matHeaderCellDef mat-header-cell scope="col"> Author's firstname</th>
      <td *matCellDef="let author" mat-cell> {{author.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th *matHeaderCellDef mat-header-cell scope="col"> Author's lastname</th>
      <td *matCellDef="let author" mat-cell> {{author.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let author" [attr.colspan]="2" mat-cell>
        <div [@detailExpand]="author == expandedAuthor ? 'expanded' : 'collapsed'" class="example-element-detail">
          <app-list-books [authorId]="author.id"></app-list-books>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="['select', 'firstname', 'lastname']" mat-header-row></tr>
    <tr (click)="expandedAuthor = expandedAuthor === author ? null : author" *matRowDef="let author; columns: ['select', 'firstname', 'lastname'];"
        [class.example-expanded-row]="expandedAuthor === author"
        class="example-element-row"
        mat-row>
    </tr>
    <tr *matRowDef="let author; columns: ['expandedDetail'];" class="example-detail-row" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div>
  <button (click)="openAddAuthorDialog()" mat-raised-button>
    Add author
  </button>

  <button (click)="deleteSelected()" mat-raised-button>
    Delete selected
  </button>
</div>
