<h1 mat-dialog-title>Add author</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Firstname</mat-label>
    <input [(ngModel)]="data.firstname" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lastname</mat-label>
    <input [(ngModel)]="data.lastname" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onCancelClick()" mat-button>Cancel</button>
  <button [mat-dialog-close]="data" cdkFocusInitial color="accent" mat-button>Ok</button>
</div>
